#### Libraries loading

In [16]:
import pandas as pd
import numpy as np
import streamlit as st
import matplotlib.pyplot as plt
import yfinance as yf

In [5]:
##Function to scab the web
def load_data():
    url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
    html = pd.read_html(url, header=0)
    df = html[0]
    return df

In [6]:
data = load_data()

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502 entries, 0 to 501
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Symbol                 502 non-null    object
 1   Security               502 non-null    object
 2   GICS Sector            502 non-null    object
 3   GICS Sub-Industry      502 non-null    object
 4   Headquarters Location  502 non-null    object
 5   Date added             502 non-null    object
 6   CIK                    502 non-null    int64
 7   Founded                502 non-null    object
dtypes: int64(1), object(7)
memory usage: 31.5+ KB

In [8]:
data.head()

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989

In [9]:
unique_sector = data['GICS Sector'].unique()
unique_sector

array(['Industrials', 'Health Care', 'Information Technology',
       'Utilities', 'Financials', 'Materials', 'Consumer Discretionary',
       'Real Estate', 'Communication Services', 'Consumer Staples',
       'Energy'], dtype=object)

In [11]:
len(unique_sector)

11

##### Grouping by sector

In [13]:
sector = data.groupby(by= 'GICS Sector')
sector.first()

,Symbol,Security,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
GICS Sector,,,,,,,
Communication Services,GOOGL,Alphabet Inc. (Class A),Interactive Media & Services,"Mountain View, California",2014-04-03,1652044,1998
Consumer Discretionary,ABNB,Airbnb,"Hotels, Resorts & Cruise Lines","San Francisco, California",2023-09-18,1559720,2008
Consumer Staples,MO,Altria,Tobacco,"Richmond, Virginia",1957-03-04,764180,1985
Energy,APA,APA Corporation,Oil & Gas Exploration & Production,"Houston, Texas",1997-07-28,1841666,1954
Financials,AFL,Aflac,Life & Health Insurance,"Columbus, Georgia",1999-05-28,4977,1955
Health Care,ABT,Abbott,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
Industrials,MMM,3M,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
Information Technology,ACN,Accenture,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
Materials,APD,Air Products and Chemicals,Industrial Gases,"Allentown, Pennsylvania",1985-04-30,2969,1940
Real Estate,ARE,Alexandria Real Estate Equities,Office REITs,"Pasadena, California",2017-03-20,1035443,1994
Utilities,AES,AES Corporation,Independent Power Producers & Energy Traders,"Arlington, Virginia",1998-10-02,874761,1981

In [14]:
sector.describe()

                         CIK                                                   \
                       count          mean            std      min        25%
GICS Sector
Communication Services  22.0  1.150190e+06  503816.763824  29989.0  833146.75
Consumer Discretionary  52.0  9.417031e+05  424437.605477  37996.0  820586.25
Consumer Staples        38.0  4.932800e+05  659308.763424   7084.0   27947.75
Energy                  22.0  8.334150e+05  654494.803186   4447.0   95502.00
Financials              71.0  7.272561e+05  540442.918268   4962.0   79971.50
Health Care             63.0  8.428977e+05  558701.706093   1800.0  312190.00
Industrials             78.0  7.241301e+05  632614.510086   4281.0   76590.50
Information Technology  67.0  9.005804e+05  498502.693082   2488.0  759324.00
Materials               27.0  8.041150e+05  689793.277958   2969.0   62371.50
Real Estate             31.0  9.564368e+05  373794.645688  34903.0  892604.00
Utilities               31.0  8.730384e+05  477431.209001   4904.0  742555.00


                              50%         75%        max
GICS Sector
Communication Services  1225195.0  1564708.00  1754301.0
Consumer Discretionary   943392.5  1202861.75  1590895.0
Consumer Staples          78950.0   929235.25  1996862.0
Energy                   946736.0  1477022.75  1841666.0
Financials               886982.0  1139155.00  1633917.0
Health Care              885725.0  1118775.50  1964738.0
Industrials              760177.5  1228521.00  1996810.0
Information Technology   896878.0  1304009.50  1730168.0
Materials                915913.0  1360206.50  1755672.0
Real Estate             1034054.0  1067255.50  1705696.0
Utilities                922224.0  1078609.50  1868275.0

In [15]:
sector.get_group('Financials')

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
8,AFL,Aflac,Financials,Life & Health Insurance,"Columbus, Georgia",1999-05-28,4977,1955
18,ALL,Allstate,Financials,Property & Casualty Insurance,"Northbrook, Illinois",1995-07-13,899051,1931
27,AXP,American Express,Financials,Consumer Finance,"New York City, New York",1976-06-30,4962,1850
28,AIG,American International Group,Financials,Multi-line Insurance,"New York City, New York",1980-03-31,5272,1919
31,AMP,Ameriprise Financial,Financials,Asset Management & Custody Banks,"Minneapolis, Minnesota",2005-10-03,820027,1894
...,...,...,...,...,...,...,...,...
456,USB,U.S. Bank,Financials,Diversified Banks,"Minneapolis, Minnesota",1999-11-01,36104,1968
475,V,Visa Inc.,Financials,Transaction & Payment Processing Services,"San Francisco, California",2009-12-21,1403161,1958
478,WRB,W. R. Berkley Corporation,Financials,Property & Casualty Insurance,"Greenwich, Connecticut",2019-12-05,11544,1967
488,WFC,Wells Fargo,Financials,Diversified Banks,"San Francisco, California",1976-06-30,72971,1852
494,WTW,Willis Towers Watson,Financials,Insurance Brokers,"London, United Kingdom",2016-01-05,1140536,2016

##### Finance Data from YFinance

In [17]:
data.Symbol

0       MMM
1       AOS
2       ABT
3      ABBV
4       ACN
       ...
497     XYL
498     YUM
499    ZBRA
500     ZBH
501     ZTS
Name: Symbol, Length: 502, dtype: object