## 1. Arrays
1. Return given an array return an array answer such that answer is equal to equal to the prod of all elements except num i

In [2]:
import numpy as np
def array_prod(arr):
    return arr[1:].prod()

arr = np.array([4,3,2,4,5,5])
array_prod(arr)

600

2.	Given an integer array nums, move all O's to the end of it while maintaining the relative order of the non-zero elements. Note that you must do this inÂ­ place without making a copy of the array.

In [3]:
def arr_0_mov(arr):
    lst_0 = []
    for element in arr:
        if element == 0:
            #removing the 0
            arr = np.delete(arr, np.where(arr == element)[0])

            lst_0.append(element)


            #adding it at the end 
    arr = np.append(arr, lst_0)

    return arr
arr2 = np.array([2,4,5,0,6,0,2,5,6,0,6])
arr_0_mov(arr2)

array([2, 4, 5, 6, 2, 5, 6, 6, 0, 0, 0])

3. You are given an array of prices where prices[i] is the price of a given stock on an ith day. You want to maximise your profit by choosing a single day to buy one stock and choosing a different day in the future to sell that stock. Return the maximum profit you can achieve from this transaction. If you cannot achieve any profit, return 0

In [4]:
def stock_prices(stock_prices,buy_day, sell_day):
    buying_price = stock_prices[buy_day]
    selling_price = stock_prices[sell_day]
    profit = selling_price - buying_price
    return profit if profit > 0 else 0

In [9]:
#!pip install yfinance
import yfinance as yf
symbol = 'PYPL'

#Start and end Date
start_date = '2020-01-01'
end_date = '2024-04-29'

Paypal_stock_df = yf.download(symbol, start= start_date, end= end_date)

Paypal_stock_df.tail()

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2024-04-22  63.040001  63.634998  62.480000  63.189999  63.189999   9958200
2024-04-23  63.380001  64.699997  63.200001  64.430000  64.430000   9913000
2024-04-24  64.110001  65.089996  64.019997  64.839996  64.839996   8189100
2024-04-25  63.470001  64.400002  62.950001  64.099998  64.099998  11711200
2024-04-26  64.129997  66.300003  63.750000  65.959999  65.959999  11963500

In [15]:
stock_prices(Paypal_stock_df['Adj Close'], '2021-12-02', '2023-10-02')

0

4. The next permutation of an array of integers is the next lexicographically greater permutation of its integer. Given an array of integers nums, find the next permutation of nums.
The replacement must be in place and use only constant extra memory

1. Write a function that reverses a string. The input string is given as an array of characters s. You must do this by modifying the input array in-place with 0(1) extra memory

In [24]:
str = 'Jackrony'
str_rev = ''.join([str[-i] for i in range(1, len(str)+1)])
str_rev

'ynorkcaJ'

In [20]:
str[len(str)-1]

'y'

6. Given a Roman numeral, convert it to an integer

In [34]:
import roman
def Roman_Int_Conv(R_int):
    try:
        return roman.fromRoman(R_int)
    except roman.InvalidRomanNumeralError:
        print(f"Error: {R_int} is not a valid Roman numeral") 
Roman_Int_Conv('VII')

7