#### Data Cleaning

In [21]:
# Data Cleaning 
import pandas as pd

df1 = pd.read_csv('C:\\Users\\USER\\OneDrive\\CB\\Projects\\Projects_Jackrony\\WorldQuant\\Housing_Mexico\\Data\\mexico-real-estate-1.csv', encoding='latin1')
df1.head()

,Unnamed: 0,property_type,state,lat,lon,area_m2,price_usd
0,1,house,Estado de México,19.560181,-99.233528,150,"$67,965.56"
1,2,house,Nuevo León,25.688436,-100.198807,186,"$63,223.78"
2,3,apartment,Guerrero,16.767704,-99.764383,82,"$84,298.37"
3,4,apartment,Guerrero,16.829782,-99.911012,150,"$94,308.80"
4,5,house,Veracruz de Ignacio de la Llave,NaN,NaN,175,"$94,835.67"

In [4]:
import pandas as pd
df1 = pd.read_csv('C:\\Users\\USER\\OneDrive\\CB\\Projects\\Projects_Jackrony\\WorldQuant\\Housing_Mexico\\Data\\mexico-real-estate-1.csv', encoding='latin1')

# Drop null values from df1
df1 = df1.dropna()
# Clean "price_usd" column in df1

df1["price_usd"] = df1['price_usd'] = df1["price_usd"].str.replace('$', '').str.replace(',', '').astype(float)
df1.drop(columns = ['Unnamed: 0'], axis=1, inplace=True)
df1.head()
df1.info()


# Print object type, shape, and head
print("df1 type:", type(df1))
print("df1 shape:", df1.shape)
df1.head()

<class 'pandas.core.frame.DataFrame'>
Index: 583 entries, 0 to 699
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   property_type  583 non-null    object
 1   state          583 non-null    object
 2   lat            583 non-null    float64
 3   lon            583 non-null    float64
 4   area_m2        583 non-null    int64
 5   price_usd      583 non-null    float64
dtypes: float64(3), int64(1), object(2)
memory usage: 31.9+ KB
df1 type: <class 'pandas.core.frame.DataFrame'>
df1 shape: (583, 6)

  property_type             state        lat         lon  area_m2  price_usd
0         house  Estado de México  19.560181  -99.233528      150   67965.56
1         house        Nuevo León  25.688436 -100.198807      186   63223.78
2     apartment          Guerrero  16.767704  -99.764383       82   84298.37
3     apartment          Guerrero  16.829782  -99.911012      150   94308.80
5         house           Yucatán  21.052583  -89.538639      205  105191.37

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 583 entries, 0 to 699
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   property_type  583 non-null    object
 1   state          583 non-null    object
 2   lat            583 non-null    float64
 3   lon            583 non-null    float64
 4   area_m2        583 non-null    int64
 5   price_usd      583 non-null    float64
dtypes: float64(3), int64(1), object(2)
memory usage: 31.9+ KB

##### df 2

In [6]:
# Importing the data 
import pandas as pd
df2 = pd.read_csv('C:\\Users\\USER\\OneDrive\\CB\\Projects\\Projects_Jackrony\\WorldQuant\\Housing_Mexico\\Data\\mexico-real-estate-2.csv', encoding='latin1')

In [7]:
# Drop null values from df2
df2 = pd.read_csv('C:\\Users\\USER\\OneDrive\\CB\\Projects\\Projects_Jackrony\\WorldQuant\\Housing_Mexico\\Data\\mexico-real-estate-2.csv', encoding='latin1')

df2.dropna(inplace=True)

# Create "price_usd" column for df2 (19 pesos to the dollar in 2014)
df2["price_usd"] = df2["price_mxn"]/19

# Drop "price_mxn" column from df2

df2.drop(["price_mxn", 'Unnamed: 0'], axis=1, inplace=True)
# Print object type, shape, and head
print("df2 type:", type(df2))
print("df2 shape:", df2.shape)
df2.head()

df2 type: <class 'pandas.core.frame.DataFrame'>
df2 shape: (571, 6)

,property_type,state,lat,lon,area_m2,price_usd
0,apartment,Nuevo León,25.721081,-100.345581,72,68421.052632
2,house,Morelos,23.634501,-102.552788,360,278947.368421
6,apartment,Estado de México,19.272040,-99.572013,85,65789.473684
7,house,San Luis Potosí,22.138882,-100.996510,158,111578.947368
8,apartment,Distrito Federal,19.394558,-99.129707,65,39904.736842

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 571 entries, 0 to 699
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   property_type  571 non-null    object
 1   state          571 non-null    object
 2   lat            571 non-null    float64
 3   lon            571 non-null    float64
 4   area_m2        571 non-null    int64
 5   price_usd      571 non-null    float64
dtypes: float64(3), int64(1), object(2)
memory usage: 31.2+ KB

#### df3

In [9]:
# Importing the data 
import pandas as pd
df3 = pd.read_csv('C:\\Users\\USER\\OneDrive\\CB\\Projects\\Projects_Jackrony\\WorldQuant\\Housing_Mexico\\Data\\mexico-real-estate-3.csv', encoding='latin1')

In [10]:
df3.head()

,Unnamed: 0,property_type,place_with_parent_names,lat-lon,area_m2,price_usd
0,1,apartment,|México|Distrito Federal|Gustavo A. Madero|Acu...,"19.52589,-99.151703",71,48550.59
1,2,house,|México|Estado de México|Toluca|Metepec|,"19.2640539,-99.5727534",233,168636.73
2,3,house,|México|Estado de México|Toluca|Toluca de Lerd...,"19.268629,-99.671722",300,86932.69
3,4,house,|México|Morelos|Temixco|Burgos Bugambilias|,NaN,275,263432.41
4,5,apartment,|México|Veracruz de Ignacio de la Llave|Veracruz|,"19.511938,-96.871956",84,68508.67

In [11]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               700 non-null    int64
 1   property_type            700 non-null    object
 2   place_with_parent_names  700 non-null    object
 3   lat-lon                  582 non-null    object
 4   area_m2                  700 non-null    int64
 5   price_usd                700 non-null    float64
dtypes: float64(1), int64(2), object(3)
memory usage: 32.9+ KB

##### Cleaning data 3
Some of the cleaning:
    - Removing the null  Values   
    - Splitting colum la-lon into latitude and longitude   
    - extracting state from place_with_parent_names

In [12]:
#Removing null values
df3 = pd.read_csv('C:\\Users\\USER\\OneDrive\\CB\\Projects\\Projects_Jackrony\\WorldQuant\\Housing_Mexico\\Data\\mexico-real-estate-3.csv', encoding='latin1')
df3.dropna(inplace= True)
df3.info()

#Splitting the lat-lon
df3[['lat','lon']] = df3['lat-lon'].str.split(',', expand=True).astype(float)
df3.drop(columns=['lat-lon', 'Unnamed: 0'], axis=1, inplace=True)
df3.head()

#Extracting the state 
df3['state'] = df3['place_with_parent_names'].str.split('|',expand=True)[2]
df3.drop(columns=['place_with_parent_names'], axis = 1, inplace = True)
df3.head()

<class 'pandas.core.frame.DataFrame'>
Index: 582 entries, 0 to 699
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               582 non-null    int64
 1   property_type            582 non-null    object
 2   place_with_parent_names  582 non-null    object
 3   lat-lon                  582 non-null    object
 4   area_m2                  582 non-null    int64
 5   price_usd                582 non-null    float64
dtypes: float64(1), int64(2), object(3)
memory usage: 31.8+ KB

,property_type,area_m2,price_usd,lat,lon,state
0,apartment,71,48550.59,19.525890,-99.151703,Distrito Federal
1,house,233,168636.73,19.264054,-99.572753,Estado de México
2,house,300,86932.69,19.268629,-99.671722,Estado de México
4,apartment,84,68508.67,19.511938,-96.871956,Veracruz de Ignacio de la Llave
5,house,175,102763.00,20.689157,-103.366728,Jalisco

In [13]:
help('astype')

No Python documentation found for 'astype'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

In [14]:
# df3['place_with_parent_names'].str.split('|',expand=True)

In [15]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 582 entries, 0 to 699
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   property_type  582 non-null    object
 1   area_m2        582 non-null    int64
 2   price_usd      582 non-null    float64
 3   lat            582 non-null    float64
 4   lon            582 non-null    float64
 5   state          582 non-null    object
dtypes: float64(3), int64(1), object(2)
memory usage: 31.8+ KB

#### Concatenate DataFrames
Great work! You have three clean DataFrames, and now it's time to combine them into a single DataFrame so that you can conduct your analysis.

In [16]:
import pandas as pd

df = pd.concat([df1, df2, df3], axis=0 )
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1736 entries, 0 to 699
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   property_type  1736 non-null   object
 1   state          1736 non-null   object
 2   lat            1736 non-null   float64
 3   lon            1736 non-null   float64
 4   area_m2        1736 non-null   int64
 5   price_usd      1736 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 94.9+ KB

In [17]:
df.head()

  property_type             state        lat         lon  area_m2  price_usd
0         house  Estado de México  19.560181  -99.233528      150   67965.56
1         house        Nuevo León  25.688436 -100.198807      186   63223.78
2     apartment          Guerrero  16.767704  -99.764383       82   84298.37
3     apartment          Guerrero  16.829782  -99.911012      150   94308.80
5         house           Yucatán  21.052583  -89.538639      205  105191.37

#### Saving the data

In [20]:
import pandas as pd
df.to_csv('C:\\Users\\USER\\OneDrive\\CB\\Projects\\WorldQuant\Housing_Mexico\\Data\\ mexico-real-estate-cleaned Data.csv', index=False)

In [19]:
mexico_df = pd.read_csv('C:\\Users\\USER\\OneDrive\\CB\\Projects\\Projects_Jackrony\\WorldQuant\Housing_Mexico\\Data\\ mexico-real-estate-cleaned Data.csv')
mexico_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1736 entries, 0 to 1735
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   property_type  1736 non-null   object
 1   state          1736 non-null   object
 2   lat            1736 non-null   float64
 3   lon            1736 non-null   float64
 4   area_m2        1736 non-null   int64
 5   price_usd      1736 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 81.5+ KB