In [1]:
list = list(range(4))

In [2]:
len(list)

4

In [6]:
# Example nested list
houses_nested_list = [[115910.26, 128, 4], [200000.0, 150, 5], [180000.0, 120, 3]]

# Iterate through the nested list to obtain the sublists
for sublist in houses_nested_list:
    print(sublist)

[115910.26, 128, 4]
[200000.0, 150, 5]
[180000.0, 120, 3]

In [8]:
# Create for loop to iterate through `houses_nested_list`

for obs in houses_nested_list:
    obs.append(obs[0]/obs[1])


# Print `houses_nested_list` type
print("houses_nested_list type:", type(houses_nested_list))

# Print `houses_nested_list` length
print("houses_nested_list length:", len(houses_nested_list))

# Get output of `houses_nested_list`
houses_nested_list

houses_nested_list type: <class 'list'>
houses_nested_list length: 3

[[115910.26, 128, 4, 905.54890625, 905.54890625],
 [200000.0, 150, 5, 1333.3333333333333, 1333.3333333333333],
 [180000.0, 120, 3, 1500.0, 1500.0]]

In [2]:
import numpy as np 
import pandas as pd
import scipy as sp
from sklearn import datasets

In [3]:
print(datasets.__all__)

['clear_data_home', 'dump_svmlight_file', 'fetch_20newsgroups', 'fetch_20newsgroups_vectorized', 'fetch_lfw_pairs', 'fetch_lfw_people', 'fetch_olivetti_faces', 'fetch_species_distributions', 'fetch_california_housing', 'fetch_covtype', 'fetch_rcv1', 'fetch_kddcup99', 'fetch_openml', 'get_data_home', 'load_diabetes', 'load_digits', 'load_files', 'load_iris', 'load_breast_cancer', 'load_linnerud', 'load_sample_image', 'load_sample_images', 'load_svmlight_file', 'load_svmlight_files', 'load_wine', 'make_biclusters', 'make_blobs', 'make_circles', 'make_classification', 'make_checkerboard', 'make_friedman1', 'make_friedman2', 'make_friedman3', 'make_gaussian_quantiles', 'make_hastie_10_2', 'make_low_rank_matrix', 'make_moons', 'make_multilabel_classification', 'make_regression', 'make_s_curve', 'make_sparse_coded_signal', 'make_sparse_spd_matrix', 'make_sparse_uncorrelated', 'make_spd_matrix', 'make_swiss_roll']

In [8]:
df = datasets.load_iris()

In [1]:
iris = datasets.load_iris()

# Convert the feature data to a DataFrame
df = pd.DataFrame(data=iris.data, columns=iris.feature_names)

NameError: name 'datasets' is not defined

In [11]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [15]:
df.dropna()
import re

In [24]:
df.sort_values(by=['petal length (cm)'], ascending=False)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
118                7.7               2.6                6.9               2.3
122                7.7               2.8                6.7               2.0
117                7.7               3.8                6.7               2.2
105                7.6               3.0                6.6               2.1
131                7.9               3.8                6.4               2.0
..                 ...               ...                ...               ...
16                 5.4               3.9                1.3               0.4
35                 5.0               3.2                1.2               0.2
14                 5.8               4.0                1.2               0.2
13                 4.3               3.0                1.1               0.1
22                 4.6               3.6                1.0               0.2

[150 rows x 4 columns]

In [27]:
dib = datasets.load_diabetes()

# Convert the feature data to a DataFrame
df2 = pd.DataFrame(data=dib.data, columns=dib.feature_names)

In [29]:
df2.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641

In [2]:
import pandas as pd
df3 = pd.read_csv('C:\\Users\\USER\\OneDrive\\CB\\Projects\\Projects_Jackrony\\WorldQuant\\Housing_Mexico\Data\\mexico-real-estate-3.csv', encoding='latin1')
df3.head()
df3.dropna(inplace= True)

In [10]:
import numpy as np
df3.info()
np.percentile(df3['price_usd'],10)

<class 'pandas.core.frame.DataFrame'>
Index: 582 entries, 0 to 699
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               582 non-null    int64
 1   property_type            582 non-null    object
 2   place_with_parent_names  582 non-null    object
 3   lat-lon                  582 non-null    object
 4   area_m2                  582 non-null    int64
 5   price_usd                582 non-null    float64
dtypes: float64(1), int64(2), object(3)
memory usage: 31.8+ KB

44736.089

In [6]:
import re
pattern = r'^|\w+|'
# df3['place_with_parent_names'].str.extract('^o|[A-Za-z]+',expand=True)

ValueError: pattern contains no capture groups

In [2]:
dict1 = {'Kenya': 23,
         'Unganda': 45}

In [4]:
list1 = list(range(2))
l

In [3]:
import pandas as pd
pd1 = pd.DataFrame(dict1)

ValueError: If using all scalar values, you must pass an index

In [2]:

df1 = pd.read_csv('C:\\Users\\USER\\OneDrive\\CB\\Projects\\WorldQuant\\Housing_Mexico\Data\\mexico-real-estate-1.csv', encoding='latin1')
df1.head()

NameError: name 'pd' is not defined

In [3]:
import pandas as pd
df1 = pd.read_csv('C:\\Users\\USER\\OneDrive\\CB\\Projects\\WorldQuant\\Housing_Mexico\Data\\mexico-real-estate-1.csv', encoding='latin1')

df1['price_usd'] = df1["price_usd"].str.replace('$', '').str.replace(',', '').astype(float)
# df1 = df1['price_usd'].str.replace(',', '').astype(float)

df1.head()

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\USER\\OneDrive\\CB\\Projects\\WorldQuant\\Housing_Mexico\\Data\\mexico-real-estate-1.csv'